@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	font-family: "Oswald", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h3 {
	line-height: 1.4;
	letter-spacing: 0.3px;
}

small {
	display: block;
	margin-bottom: 20px;
}

.fa-heart {
	color: crimson;
}

.doggo {
	height: 440px;
	width: 300px;
	max-width: 100%;
	background: url("https://placedog.net/300/300?random");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	border-radius: 5px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	cursor: pointer;
}

.doggo .fa-heart {
	position: absolute;
	animation: grow 0.9s linear;
	transform: translate(-50%, -50%) scale(0);
}

@keyframes grow {
	to {
		transform: translate(-50%, -50%) scale(10);
		opacity: 0;
	}
}
