@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	font-family: "Lato", sans-serif;
	overflow-x: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-image: linear-gradient(90deg, #7d5fff, #7158e2);
}

.search {
	position: relative;
	height: 3.125rem;
}

.search .input {
	background-color: #fff;
	border: 0;
	font-size: 1.125rem;
	padding: 0.9375rem;
	height: 3.125rem;
	width: 50px;
	transition: width 0.3s ease;
}

.btn {
	background-color: #fff;
	border: 0;
	font-size: 1.5rem;
	position: absolute;
	top: 0;
	left: 0;
	height: 3.125rem;
	width: 3.125rem;
	transition: transform 0.3s ease;
}

.btn:focus,
.input:focus {
	outline: none;
}

.search.active .input {
	width: 12.5rem;
}

.search.active .btn {
	transform: translateX(12.375rem);
}
