@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 20px;
	height: 100vh;
	font-family: "Poppins", sans-serif;
	overflow: hidden;
	background: #686de0;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
}

.container {
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
	padding: 50px 20px;
	text-align: center;
	width: 800px;
	max-width: 100%;
}

h3 {
	opacity: 0.5;
	letter-spacing: 2px;
	user-select: none;
}

.joke {
	font-size: 30px;
	letter-spacing: 1px;
	line-height: 40px;
	margin: 50px auto;
	max-width: 600px;
}

.btn {
	background: #9f68e0;
	color: #fff;
	border: none;
	border-radius: 10px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
	padding: 14px 40px;
	font-size: 16px;
	cursor: pointer;
}

.btn:focus {
	outline: 0;
}

.btn:active {
	transform: scale(0.98);
}
