@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
	box-sizing: border-box;
	padding: 0;
}

body {
	height: 100vh;
	font-family: "Poppins", sans-serif;
	background: midnightblue;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-block: auto;
}

.form {
	width: 100%;
	max-width: 700px;
}

.form input {
	width: 100%;
	display: block;
	background: darkslateblue;
	border: none;
	border-radius: 10px;
	color: #fff;
	padding: 1rem;
	margin-bottom: 2rem;
	font-size: 1rem;
	box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
		0 15px 40px rgba(0, 0, 0, 0.1);
}

.form input::placeholder {
	color: #fff;
}

.form input:focus {
	outline: none;
}

.card {
	max-width: 800px;
	background: darkslateblue;
	border-radius: 20px;
	box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
		0 15px 40px rgba(0, 0, 0, 0.1);
	display: flex;
	padding: 3rem;
	margin-inline: 1.5rem;
}

.avatar {
	border-radius: 100%;
	border: 10px solid midnightblue;
	height: 150px;
	aspect-ratio: 1;
}

.user-info {
	color: #fff;
	margin-left: 2rem;
}

.user-info h2 {
	margin-top: 0;
}

.user-info ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	max-width: 400px;
}

.user-info ul li {
	display: flex;
	align-items: center;
}

.user-info ul li strong {
	font-size: 0.9rem;
	margin: 0.5rem;
}

.repo {
	text-decoration: none;
	background: midnightblue;
	color: #fff;
	font-size: 1rem;
	display: inline-block;
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
	padding: 0.25rem 0.5rem;
	border-radius: 100vw;
}

@media (max-width: 30rem) {
	.form {
		max-width: 400px;
	}
	.card {
		flex-direction: column;
		align-items: center;
	}
}
